/.github/ @http4k/core-maintainers

/bin/ @http4k/core-maintainers

/gradle/ @http4k/core-maintainers

/src/typeflows/ @http4k/core-maintainers

build.gradle.kts @http4k/core-maintainers

/settings.gradle.kts @http4k/core-maintainers