{{#>org/http4k/wiretap/layout pageTitle="MCP"}}
{{#partial "body"}}
<body class="d-flex flex-column h-100" data-signals="{{initialSignals}}">
{{> org/http4k/wiretap/header navMCP=true}}

<div class="empty" style="flex: 1; font-size: 24px;">No MCP Server Found</div>

{{> org/http4k/wiretap/footer}}
</body>
{{/partial}}
{{/layout}}
