<div id="users" data-signals=''>
    <label>
        First Name
        <input type="text" data-bind="firstName"/>
    </label>
    <label>
        Last Name
        <input type="text" data-bind="lastName"/>
    </label>
    <label>
        Email
        <input type="text" data-bind="email"/>
    </label>
    <div>
        <button data-on-click="@post('/users/create')">Save</button>
        <button data-on-click="@get('/users')">Cancel</button>
    </div>
</div>
