.gist-meta {
    display: none;
}

ul.statusLink {
    float: right;
    padding-right: 2rem;
}
ul.statusLink li {
    padding: 0.5rem;
    display: inline;
    list-style: none;
}

.md-content {
    margin-right: 0;
}

.md-header-nav__source {
    width: 15rem;
    margin-left: 1rem;
}

[data-md-color-primary=indigo] .md-header {
    background-color: #2e7bf4;
}

.github {
    display: none;
}