<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>http4k Datastar demo</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <script type="module"
            src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.0-beta.11/bundles/datastar.js"></script>
</head>
<body>

<div id="users" data-on-load="@get('/users')">hello</div>

</body>
</html>
