<html>
<head>
    <script src="/htmx.js"></script>
</head>
<body>
<h1>htmx Clock</h1>
<table>
    <tr id="replaceMe">
        <td><button hx-get="/" hx-target="#replaceMe" hx-swap="outerHTML">Start!</button></td>
    </tr>
</table>
</body>
</html>
