<header class="app-header">
    <div class="app-header-brand">
        <a href="https://http4k.org" target="_blank"><img class="app-logo" src="https://www.http4k.org/images/logo.png" alt="http4k"></a>
        <span class="app-header-title">Wiretap</span>
    </div>
    <div class="app-header-right">
        <nav class="app-nav" id="app-nav">
            <a href="/_wiretap" class="nav-link">Overview</a>
            <a href="/_wiretap/traffic" class="nav-link">Traffic</a>
            <a href="/_wiretap/otel" class="nav-link">OTel</a>
            <a href="/_wiretap/openapi" class="nav-link">OpenAPI</a>
            <a href="/_wiretap/inbound" class="nav-link">Inbound Client</a>
            <a href="/_wiretap/outbound" class="nav-link">Outbound Client</a>
            <a href="/_wiretap/chaos" class="nav-link">Chaos</a>
        </nav>
    </div>
</header>
<script>
    document.querySelectorAll('#app-nav .nav-link').forEach(function (a) {
        if (a.getAttribute('href') === location.pathname) a.classList.add('nav-link-active');
    });
</script>
