.gist-meta {
    display: none;
}

ul.statusLink {
    float: right;
    padding-right: 2rem;
}
ul.statusLink li {
    padding: 0.5rem;
    display: inline;
    list-style: none;
}

.md-content {
    margin-right: 0;
}