<div id="message-form" data-signals="{}">
    <label for="message"></label>
    <input id="message" disabled class="message-input" type="text" data-bind="message">
    <button disabled id="send">Send</button>
</div>
