<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatzilla</title>
    <link rel="stylesheet" href="styles.css">
    <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@main/bundles/datastar.js"></script>
</head>
<body>
<h1>Chatzilla</h1>

<div id="chat-container" data-on-load="@get('/history')"></div>
<div id="message-form" data-on-load="@get('/message')"></div>
</body>
</html>
