<div id="completion-result" class="mcp-client-result">
    <label>Completion Values ({{values.length}}{{#if total}} of {{total}}{{/if}}{{#if hasMore}}, more available{{/if}})</label>
    {{#each values}}
    <div class="mcp-client-message">
        <pre>{{this}}</pre>
    </div>
    {{/each}}
    {{#unless values}}
    <div class="empty">No completion values returned</div>
    {{/unless}}
</div>
