name: New Release - GitHub
on:
  repository_dispatch:
    types: [http4k-release]
permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write  # for actions/create-release to create a release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: ./build-release-note.sh ${{ github.event.client_payload.version }} > NOTE.md
      - uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.event.client_payload.version }}
          release_name: ${{ github.event.client_payload.version }}
          body_path: NOTE.md
          draft: false
          prerelease: false
