# Worfklow for https://jmfayard.github.io/refreshVersions/

name: Refresh Dependencies

on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * 1'

jobs:
  refresh-versions:
    name: Check New Versions
    runs-on: "ubuntu-latest"
    steps:
      - id: step-0
        name: check-out
        uses: actions/checkout@v3.3.0
        with:
          ref: master
      - id: step-1
        name: setup-java
        uses: actions/setup-java@v3.9.0
        with:
          distribution: adopt
          java-version: 17
      - id: step-2
        name: create-branch
        uses: peterjgrainger/action-create-branch@v2.2.0
        with:
          branch: dependency-update
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - id: step-3
        name: gradle refreshVersions
        uses: gradle/gradle-build-action@v2
        with:
          arguments: refreshVersions
      - id: step-4
        name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Actions
          author_email: noreply@github.com
          message: Refresh versions.properties
          new_branch: dependency-update
          push: --force --set-upstream origin dependency-update
      - id: step-5
        name: Pull Request
        uses: repo-sync/pull-request@v2
        with:
          source_branch: dependency-update
          destination_branch: master
          pr_title: Upgrade gradle dependencies
          pr_body: '[refreshVersions](https://github.com/jmfayard/refreshVersions) has found those library updates!'
          pr_draft: false
          github_token: ${{ secrets.GITHUB_TOKEN }}
