# Worfklow for https://jmfayard.github.io/refreshVersions/

name: Refresh Dependencies

on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * 1'

jobs:
  refresh-versions:
    name: Check New Versions
    runs-on: "ubuntu-latest"
    steps:
      - name: check-out
        uses: actions/checkout@v4.2.0
        with:
          ref: master
      - name: setup-java
        uses: actions/setup-java@v4.4.0
        with:
          distribution: temurin
          java-version: 21
          cache: gradle
      - name: create-branch
        uses: peterjgrainger/action-create-branch@v3.0.0
        with:
          branch: dependency-update
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: gradle/actions/setup-gradle@v4.1.0
      - name: Run Gradle
        run: ./gradlew refreshVersions
      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Actions
          author_email: noreply@github.com
          message: Refresh versions.properties
          new_branch: dependency-update
          push: --force --set-upstream origin dependency-update
      - name: Pull Request
        uses: repo-sync/pull-request@v2
        with:
          source_branch: dependency-update
          destination_branch: master
          pr_title: Upgrade gradle dependencies
          pr_body: '[refreshVersions](https://github.com/jmfayard/refreshVersions) has found those library updates!'
          pr_draft: false
          github_token: ${{ secrets.GITHUB_TOKEN }}
