name: Publish Artifacts
on:
  push:
    tags:
      - '*'
env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true
jobs:
  Release:
    runs-on: ubuntu-latest
    if: github.repository == 'http4k/http4k'
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Grab tag name
        uses: olegtarasov/get-tag@v2.1.3
        id: tagName
      - name: Setup Java
        uses: actions/setup-java@v4.5.0
        with:
          distribution: temurin
          java-version: 21
          cache: gradle
      - name: Upload to Sonatype
        run: |
          ./gradlew publish publishToSonatype closeAndReleaseSonatypeStagingRepository \
          -Psign=true \
          -PreleaseVersion="${{ steps.tagName.outputs.tag }}" \
          -PsigningKey="${{ secrets.SIGNING_KEY }}" \
          -PsigningPassword="${{ secrets.SIGNING_PASSWORD }}" \
          -PltsPublishingUser="${{ secrets.LTS_PUBLISHING_USER }}" \
          -PltsPublishingPassword="${{ secrets.LTS_PUBLISHING_PASSWORD }}" \
          -PnexusUsername="${{ secrets.NEXUS_USERNAME }}" \
          -PnexusPassword="${{ secrets.NEXUS_PASSWORD }}"
      - run: ./notify-lts-slack.sh ${{ steps.tagName.outputs.tag }}
        env:
          LTS_SLACK_WEBHOOK: ${{ secrets.LTS_SLACK_WEBHOOK }}
